In [50]:
import pandas as pd

In [51]:
df =pd.read_excel("./JAN2020-Renewable energy Installed and Potential Capacity.xlsx")

In [52]:
df = df.dropna()

In [53]:
df

,Source,State,Capacity Type,Capacity (in MW),Date
0,Hydro,Andaman and Nicobar Islands,Potential Capacity,145320.00,2020-01-01
1,Hydro,Andaman and Nicobar Islands,Installed Capacity,45399.22,2020-01-01
2,Wind,Andaman and Nicobar Islands,Potential Capacity,695509.00,2020-01-01
3,Wind,Andaman and Nicobar Islands,Installed Capacity,37607.70,2020-01-01
4,Solar,Andaman and Nicobar Islands,Potential Capacity,748990.00,2020-01-01
...,...,...,...,...,...
375,Solar,West Bengal,Installed Capacity,34035.66,2020-01-01
376,Bio Power,West Bengal,Potential Capacity,25094.00,2020-01-01
377,Bio Power,West Bengal,Installed Capacity,10023.26,2020-01-01
378,Small-Hydro,West Bengal,Potential Capacity,21130.00,2020-01-01
379,Small-Hydro,West Bengal,Installed Capacity,4676.56,2020-01-01

In [54]:
df1 = pd.DataFrame(columns=["Date","Source", "State","Potential Capacity","Installed Capacity"])

In [55]:
df1

Empty DataFrame
Columns: [Date, Source, State, Potential Capacity, Installed Capacity]
Index: []

In [56]:
for i in range(0,380,2):
    row1 = df.iloc[i]
    row2 = df.iloc[i+1]
    source = row1.iloc[0]
    state = row1.iloc[1]
    date = row1.iloc[4]
    potential = row1.iloc[3]
    installed = row2.iloc[3]
    new_row = {
        'Date':date,
        'Source':source,
        'State':state,
        'Potential Capacity':potential,
        'Installed Capacity':installed
    }
    df1.loc[len(df1.index)] = new_row

In [57]:
df1

,Date,Source,State,Potential Capacity,Installed Capacity
0,2020-01-01,Hydro,Andaman and Nicobar Islands,145320.0,45399.22
1,2020-01-01,Wind,Andaman and Nicobar Islands,695509.0,37607.70
2,2020-01-01,Solar,Andaman and Nicobar Islands,748990.0,34035.66
3,2020-01-01,Bio Power,Andaman and Nicobar Islands,25094.0,10023.26
4,2020-01-01,Small-Hydro,Andaman and Nicobar Islands,21130.0,4676.56
...,...,...,...,...,...
185,2020-01-01,Hydro,West Bengal,145320.0,45399.22
186,2020-01-01,Wind,West Bengal,695509.0,37607.70
187,2020-01-01,Solar,West Bengal,748990.0,34035.66
188,2020-01-01,Bio Power,West Bengal,25094.0,10023.26
189,2020-01-01,Small-Hydro,West Bengal,21130.0,4676.56